<!DOCTYPE html>
<html>
<head>
  <title>UserManagement</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "ui.jqgrid" %>
  <%= javascript_include_tag "application" %>
  <!-- <%= javascript_include_tag "grid.locale-en" %>
  <%= javascript_include_tag "jquery.jqGrid.min" %> -->
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>
<%= debug(params) if Rails.env.development?  %>

</body>
</html>
